.menucontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.navmenu {
    list-style: none;
    text-decoration: none;
    display: flex;
    gap: 20px;
}

li a {
    text-decoration: none;
    font-size: x-large;
    color: black;
}


.dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.hidden {
     display: none;
}
